@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
:root {
  --primary: black;
  --secondary: #cc2936;
  --light: #fbfef9;
  --dark: #85877c;
  --extra: #6b9080;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  /* background-image: url(images/background.jpeg);
  background-repeat: repeat-y; */

  background-color: var(--primary);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.link {
  color: var(--light);
}

nav a {
  color: var(--light);
  text-decoration: none;
}

nav {
  margin: 20px;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  list-style-type: none;
  color: white;
  padding: 0rem;
  margin: 0 4rem;
}

.link {
  position: relative;
}

.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: var(--secondary);
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}

.link:hover:before {
  visibility: visible;
}

.poster {
  float: left;
  width: 100%;
  height: 350px;
  /* object-fit: cover; */
}
h1 {
  color: var(--light);
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}
.logo {
  width: 450px;
  position: relative;
  top: 100px;
}
.logohome {
  padding: 0;
}
.home {
  padding: none;
  border: solid dotted white;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 1;
}

.addmovie,
.register,
.login {
  text-align: center;
  font-display: auto;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.addmovie,
.registerForm,
.loginForm {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  height: 100vh;
  padding: 40px;
}

input {
  align-items: center;
  padding: 5px;
  width: 200px;
  margin: 0 auto;
  border-radius: 3px;
}

.submit {
  margin: 1rem auto;
  font-family: "Quicksand", sans-serif;
  background-color: #b52422;
  text-decoration: none;
  letter-spacing: 0.2rem;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  width: 100px;
}
.submit:hover {
  opacity: 0.8;
}

.imageContainer {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.moviePosters {
  display: flex;
  flex-wrap: nowrap;
  /* display: block; */
}
/* .poster {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  max-width: 70%;
  max-height: 90%;
} */
